* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clrWhite{
    color: white !important;
}

.red{
    background-color: #bc6665;
}

.blue{
    background-color: #6783b3 !important;
}

.green{
    background-color: #6aaf5c !important;
    
}

.container{
    padding: 20px 20px;
    color: white;
    height: 250px!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

p{
    margin: 0;
}

h3{
    margin :0;
}

